<div class="jumbotron">
    <h1 class="display-4">National Park News</h1>
    <p class="lead">Whats happening in your National Parks, as well as tips for how to best enjoy them.</p>

    <hr class="my-4">
    <button type="button" class="btn btn-primary btn-lg scrape" href="#" role="button">Scrape</button>
</div>
<div class="content">
{{#each articles}}
<div class="card mb-5" style="width: 18rem;">
    <img src="{{this.image}}" class="card-img-top" alt="{{this.imageAlt}}">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.summary}}</p>
        <a href="{{this.link}}" target="_blank">Read the article here!</a>
        <button type="button" class="btn btn-danger note" data-id="{{this._id}}">Add a note</button>
    </div>
</div>
{{/each}}
</div>
<div id="notes-here"></div>